.jogar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.jogar h1 {
  margin: unset;
}

.jogar .sudoku_rapper {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 0 white;
}

.jogar .sudoku_rapper.loading {
  box-shadow: none;
}

.jogar .sudoku {
  width: 194px;
  height: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
}

.jogar .sudoku table {
  position: absolute;
  border-collapse: collapse;
}

.jogar .sudoku td {
  border: 2px solid black;
  padding: unset;
}

.jogar .sudoku select {
  width: 46px;
  height: 46px;
  border: unset;
  font-size: 20px;
}

.jogar #front {
  transform: translateZ(97px);
}

.jogar #front :is(select, .trancada) {
  background-color: green;
}

.jogar #bottom {
  top: 97px;
  transform: rotateX(-90deg);
}

.jogar #bottom :is(select, .trancada) {
  background-color: red;
}

.jogar #back {
  transform: translateZ(-96px) rotateX(180deg) rotateZ(180deg);
}

.jogar #back :is(select, .trancada) {
  background-color: orange;
}

.jogar #top {
  bottom: 97px;
  transform: rotateX(90deg);
}

.jogar #top :is(select, .trancada) {
  background-color: blue;
}

.jogar #left {
  left: -97px;
  transform: rotateY(-90deg);
}

.jogar #left :is(select, .trancada) {
  background-color: #44300a;
}

.jogar #right {
  left: 97px;
  transform: rotateY(90deg);
}

.jogar #right :is(select, .trancada) {
  background-color: purple;
}

.jogar .trancada {
  width: 46px;
  height: 46px;
  display: grid;
  place-items: center;
  user-select: none;
  box-shadow: inset 0 0 2px 0 white;
}