.main-navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}

.main-navbar div {
  display: flex;
  gap: 10px;
}

.main-navbar a {
  color: white;
}

.main-navbar a:hover {
  color: black;
}

.main-navbar a:has(img) {
  height: 40px;
}

.main-navbar img {
  width: 40px;
  height: 40px;
}